h1#git-guts-repozytorium-prework,
h3#httpssmoczyskogitbooksiogit-guts-repository-preworkcontent {
    text-align: center;
}

.image-wrapper {
    max-width: 300px;
    width: 100%;
    margin: 2% auto;
    display: block;
}

div[class*="prework"] {
    max-width: 600px;
}

p {
    text-align: justify;
}